form {

	margin-bottom: var(--scale-md);
	width: 100%;

	// @media (min-width: $lg-mobile-breakpoint) {
	// 	margin: 0 auto;
	// 	width: var(--lg-mobile-width);
	// }
	// @media (min-width: $tablet-breakpoint) {
	// 	margin: 0 auto;
	// 	width: var(--tablet-width);
	// }
	// @media (min-width: $desktop-breakpoint) {
	// 	margin: 0 auto;
	// 	width: var(--desktop-width)
	// }

	label {
		margin-right: var(--scale-xs);
	}

	input,
	textarea {
		border: 1px solid var(--silver);
		border-radius: 1px;
		padding: var(--scale-xs);
		font-size: inherit;
		font-family: inherit;
	}

	input[type="submit"] {
		padding: var(--scale-sm);
		margin: var(--scale-reg) 0;
	}

	&.flex-form {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.flex-field {

			flex: 0 0 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: var(--scale-xs);

			> * {
				flex: 1 1 100%;
				width: 100%;
			}

			> label {
				flex: 0 1 25%;
				min-width: 85px;
			}

		}
	}

	&#subscribeForm {
		max-width: 20em;
		margin: 0 auto;
	}

}
