header {
	border: 1px solid grey;
	margin: 0 auto;
	width: 60vw;
}

header > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.5rem;

}

header > div > * {
	margin: 0;
	display: block;
}

@media (max-width: 660px) {
	header {
		width: 100vw;
	}
}
