header {
	border: 1px solid grey;

}

header .header-inner {
	margin: 0 auto;
	width: 60vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.5rem;
	border: 2px solid #333;
}

header .header-inner > * {
	margin: 0;
	display: block;
}

@media (max-width: 660px) {
	header .header-inner {
		width: 100vw;
	}
}
