@import './breakpoints';

body {
	padding: 0;
	margin: 0;
	// main * + * {
	// 	margin-top: var(--scale-md);
	// }
}

main {
	border: 1px solid green;
	@media (min-width: $tablet-breakpoint) {
		width: 600px;
		margin: 0 auto;
		border: 2px solid red;
	}
}

.page, .post {
	padding: var(--scale-lg) var(--scale-md);
}


// .content-width {
// 	width: 60vw;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// @media (max-width: 660px) {
// 	.content-width {
// 		width: 100vw;
// 	}
// }
