:root {
	// --header-font: 'Anton', sans-serif;
	--body-font: 'Open Sans', sans-serif;
	--decorative-font: 'Just Another Hand', 'cursive';
	// --header-font: var(--decorative-font);
	--text-base-size: 17px;
	@media (min-width: $desktop-breakpoint) {
		--text-base-size: 21px;
	}
}

html {
	font-size: var(--text-base-size);
	body {
		font-family: var(--body-font);
		line-height: var(--mod-scale-1);
		font-size: var(--scale-reg);
	}
}

h1, h2, h3,
.h1, .h2, .h3 {
	font-weight: 400;
	font-family: var(--body-font);
	color: #5a5f6a;
}

h4, h5, h6,
.h4, .h5, .h6 {
	text-transform: uppercase;
	font-family: var(--body-font);
	font-weight: lighter;
}

h1,
.h1 {
	font-size: var(--scale-xl);
}

h2,
.h2 {
	font-size: var(--scale-lg);
}

h3,
.h3 {
	font-size: var(--scale-md);
}

h4,
.h4 {
	font-size: var(--scale-reg);
	font-weight: 700;
	text-transform: uppercase;
}

h5, h6,
.h5, .h6 {
	font-size: var(--scale-sm);
	font-weight: bold;
}

h6,
.h6 {
	font-weight: lighter;
}

.small-text {
	font-size: var(--scale-sm);
}
